body, html, #container, #position_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.position_common {
  position: absolute;
  right: 10px;
  width: 35px;
  height: 30px;
  border: none;
}
.position_edit, .position_edit_active {
  bottom: 5px;
  border-top:1px solid white;
  padding-left:9px;
}
.position_edit_active {
  color:green;
}
.position_tracuser, .position_tracuser_active {
  bottom: 85px;
}
.position_tracuser_active {
  color:green;
}
.layer_order {
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
  border: 2px solid #ccc;
}
.layer_order.current {
  border-color: #ff9607;
}
.layer_order .layer-body{
  padding:8px;
}
.layer_order .layer-footer{
  margin-top: 5px;
  text-align: center;
}
.layer_order .layer-footer button {
  padding: 5px 12px;
  background-color: #27a3f2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  border: 0;
}
.layer_order .layer-footer button.disabled{
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}
